<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>New Puppy Form</title>
 </head>
 <body>
   <h1>Enter a new Puppy!</h1>
   <form method="POST" action="/team">
       <p>Name: <input type="text" name="name"></p>
       <p>Breed: <input type="text" name="breed"></p>
       <p>!ge: <input type="text" name="age"></p>
       <input id="Submit" type="submit">
     </form>
 </body>
</html>
